.feed {
  flex: 0.5;
  width: 300px;
  border-right: 1px solid var(--twitter-background);
  /* min-width: fit-content; */
  overflow-y: scroll;
}
/* Hide scrollbar for browsers */

.feed::-webkit-scrollbar {
  display: none;
}
.feed {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox*/
}
.feed__header {
  position: sticky;
  display: flex;
  justify-content: space-between;
  top: 0;
  background-color: white;
  z-index: 100;
  border: 1px solid var(--twitter-background);
  padding: 15px 20px;
}

.starIcon:hover {
  background-color: var(--twitter-background);
  cursor: pointer;
  border-radius: 30px;
}

.feed__header > h2 {
  font-size: 20px;
  font-weight: 600;
}
@media (min-width: 481px) and (max-width: 767px) {
  .feed {
    flex: auto;
  }
}
