.widgets {
  flex: 0.3;
  margin-left: 10px;
  width: 30px;
  overflow-y: scroll;
}

.widgets::-webkit-scrollbar {
  display: none;
}
.widgets__input {
  display: flex;
  align-items: center;
  background-color: var(--twitter-background);
  padding: 10px;

  border-radius: 80px;
  margin-top: 10px;

  margin-left: 20px;
}

.widgets__input > input {
  border: none;
  background-color: var(--twitter-backgroud);
  outline: none;
}
.widgets__searchIcon {
  color: gray;
}

.widgets__widgetContainer {
  margin-top: 15px;
  margin-left: 20px;
  padding: 20px;
  background-color: var(--twitter-background);
  border-radius: 20px;
}

.widgets__widgetContainer > h2 {
  font-size: 18px;

  font-weight: 600;
}
